extends layout

block content
	.inner
		form.form(action='/register' method='POST')
			h2 Register

			label(for='name') Name
			input(type='text' id='name' name='name')

			label(for='email') E-mail
			input(type='email' id='email' name='email' )

			label(for='password') Password
			input(type='password' id='password' name='password')

			label(for='confirm-password') Password Confirmation
			input(type='password' id='confirm-password' name='confirm-password')

			input.button(type='submit' value='Register')
